/* body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f7f7f7;
      } */
     
      .files {
        margin-top: 0;
        display: flex;
        gap: 156px;
        justify-content: center;
      }
      .file-element {
        list-style: none;
      }
      .file-element a {
        text-decoration: underline;
        font-size: 36px;
        font-weight: 800;
        color: #0077dd;
      }
      .head-title {
        justify-content: center;
        margin-top: 50px;
        color: #0077dd;
        filter: drop-shadow(2px 2px 8px #0077dd);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* .gallery-item {
    flex-basis: calc(33.333% - 10px);
} */

.gallery-link {
    display: block;
}

.gallery-image {
    width: 360px;
    height: 200px;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.05);
}
label, textarea, input {
  display: block !important;
}
textarea {
  margin-bottom: 30px;
} 
form button {
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background: #4e75ff;
border: none;
color: white;
transition: background-color 0.4s ease-out;
}
form button:hover {
  background: #6c8cff;
}
label {
  margin-top: 8px;
}
